.receipt {
  width: 58mm;
  font-family: monospace;
  font-size: 11px;
  color: #000;
  padding: 0 2px;
  font-weight: bold;
}

.header {
  text-align: center;

  img {
    width: 50px;
    margin-bottom: 3px;
  }

  .title {
    font-size: 13px;
  }

  .small {
    padding: 0 10px;
    font-size: 12px;
  }
}

.divider {
  border-top: 1px dashed #000;
  margin: 6px;
}

.info p,
.summary p {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  padding: 0 5px;
}

.items .row {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  padding: 0 5px;
}

.footer {
  text-align: center;
  margin-top: 4px;
  font-size: 9px;
}
