.receipt {
  width: 58mm;
  font-family: monospace;
  font-size: 11px;
  color: #000;
  padding: 6px;
}

.header {
  text-align: center;

  img {
    width: 40px;
    margin-bottom: 4px;
  }

  .title {
    font-weight: bold;
    font-size: 14px;
  }

  .small {
    font-size: 10px;
  }
}

.divider {
  border-top: 1px dashed #000;
  margin: 6px 0;
}

.info p,
.summary p {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.items .row {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.footer {
  text-align: center;
  margin-top: 8px;
  font-size: 10px;
}
